/* posittion images */

#cell_1 {
    grid-area: 1/3 / span 1 / span 1;
}

#cell_2 {
    grid-area: 2/2 / span 1 / span 1;
}

#cell_3 {
    grid-area: 3/1 / span 1 / span 1;
}

#cell_4 {
    grid-area: 4/3 / span 1 / span 1;
}

#cell_5 {
    grid-area: 5/2 / span 1 / span 1;
}

#endSpace {
    grid-area: 7/1;
}

@media screen and (max-width: 940px) {

    h1 {
        font-size: 15vw;
    }

    #endSpace {
        grid-area: 8/1;
    }

}

/* mobile */

@media screen and (max-width: 700px) {

    h1 {
      font-size: 20vw;
      line-height: 18vw;
    }

    #cell_1 {
        grid-area: 1/1 / span 1 / span 1;
    }

    #cell_2 {
        grid-area: 9/1;
    }

    #cell_3 {
        grid-area: 17/1;
    }

    #cell_4 {
        grid-area: 25/1;
    }

    #cell_5 {
        grid-area: 33/1;
    }

    #endSpace {
        grid-area: 40/1;
    }
}