/* ============ TEXT STYLES ============ */

@font-face {
   font-family: 'terminalGOpen';
   src: url(assets/terminal-grotesque_open.otf);
}

@font-face {
   font-family: 'officeCodePro';
   src: url(assets/OfficeCodePro-Regular.otf);
}

h1 {
   font-family: 'terminalGOpen';
   font-weight: normal;
   font-size: 120px;
   /* text-align: right; */
   color: white;

   margin-top: -5px;
   margin-bottom: 0px;
}

h2 {
   font-family: 'terminalGOpen';
   font-weight: normal;
   font-size: 75px;
   /* text-align: right; */
   color: white;

   margin-top: -5px;
   margin-bottom: 0px;
}

h3 {
   font-family: 'officeCodePro';
   font-weight: normal;
   font-size: 20pt;
}


/* really this is h3, but h3 was already created and used on multiple pages */
h4 {
   font-family: 'terminalGOpen';
   font-weight: normal;
   font-size: 80px;
   color: rgb(175, 175, 175);

   margin-top: -5px;
   margin-bottom: 0px;
}

.title {
   font-family: 'terminalGOpen';
   font-size: 120px;
   text-align: right;
   color: white;
}

p {
   font-family:'officeCodePro';
   font-size: 12pt;
   color: white;
}

.menu p {
   color: black;
}

a p:hover {
   color:rgb(255, 68, 0) ;
   cursor: pointer;
}

a h4:hover {
   color:rgb(255, 68, 0) ;
   cursor: pointer;
}

a u:hover {
   color:rgb(255, 68, 0) ;
   cursor: pointer;
}

.mainPara {
   margin-top: 1vw;
   margin-right: 3%;
   column-width: 30em;
   column-gap: 60px;
}

.infoTextBL {
   position: absolute;
   bottom: -20px;
}

/* ============ PAGE LAYOUT ============ */

.grid {
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   grid-auto-rows: 9vw;
   column-gap: 8px;
   row-gap: 8px;
}

.outerMargin {
   grid-area: 1/1 / span 1 / span 1;
   margin: 8px;
}

.textCell {
   position: relative;
   /* background-color: rgb(199, 165, 165); */
}

#sketch-holder {
   display:block;
   position: fixed;
   top: 0vw;
   left: 0vw;
   z-index: -1;
}

.project_title {
   grid-area: 1/1 / span 2/ span 3; 
   position: fixed;
   /* background-color: aqua; */
}

.project_description {
   grid-area: 2/1 / span 2 / span 3;
   /* background-color: aqua; */
}

/* ============ PAGE ELEMENTS ============ */

body {
   margin: 0vh;
   display: grid;
   grid-template-columns: auto 50px;
   grid-template-rows: 100vh;
   height: 99.4vh;

   padding: 0px;
}

#sideBar {
   position: fixed;
   top: 0;
   right: 0;


   width: 50px;
   height: 100%;

   background-color: white;
}

#sideBar:hover {
   width: 260px;

   overflow: hidden;
}

.menu {
   display: flex;
   flex-direction: row;

   position: relative;
   left: 0;
   bottom: 0;

   overflow: hidden;
}

.menuColumn {
   margin-left: 17px;
   margin-right: 27px;
}

.menuOptions {
   /* color: white; */
   margin-top: 15px;
}

iframe {
   width: 100%;
   height: 100%;
}

img {
   max-width:100%;
   max-height:100%;
}

.imgFill {
   width: 100%;
   height: 100%;

   object-fit: fill;
}

/* ============ MISC ============ */

canvas {
   display:block;
   z-index: -1;
}

a {
   text-decoration: none;
   color: inherit;
}

/* underline thickness for hyperlinks */
h4 u{
   text-decoration-thickness: 7px;
}

::-webkit-scrollbar {
   background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
   background-color: rgb(86, 86, 86);
}

::-webkit-scrollbar-thumb:hover {
   background-color: rgb(135, 135, 135);
}

/* for mobile screens */

@media only screen and (max-width: 700px) {
   
   .grid {
      display: grid;
      grid-template-columns: 100%;
   }

   .project_description {
      grid-area: 4/1 / span 2 / span 3;
   }
 }