/* ============ TEXT STYLES ============ */

@font-face {
   font-family: 'officeCodePro';
   src: url(assets/OfficeCodePro-Regular.otf);
}

@font-face {
   font-family: 'Monitor-G3';
   src: url(assets/Monitor-G3.otf);
}

h1 {
   font-family: 'Monitor-G3';
   font-weight: normal;
   font-size: 150px;
   line-height: 115px;
   color: white;
   /* background-color: aquamarine; */
   text-shadow: 0px 0px 25px rgb(94, 94, 94);

   margin-top: -5px;
   margin-bottom: 0px;
}

h2 {
   font-family: 'Monitor-G3';
   font-weight: normal;
   font-size: 100px;
   line-height: 67px;
   color: white;
   text-shadow: 0px 0px 15px rgb(130, 130, 130);

   margin-top: -5px;
   margin-bottom: 0px;
}

h3 {
   font-family: 'officeCodePro';
   font-weight: normal;
   font-size: 20pt;
}

p {
   font-family:'officeCodePro';
   font-size: 14pt;
   color: white;
}

/* sidebar text */
.menu p {
   color: black;
   line-height: 1.13em;
}

a:hover{
   color:rgb(255, 68, 0);
}

a p:hover {
   color:rgb(255, 68, 0);
   /* cursor: pointer; */
}

a u:hover {
   color:rgb(255, 68, 0);
   /* cursor: pointer; */
}

.mainPara {
   margin-top: 1vw;
   margin-right: 3%;
   column-width: 30em;
   column-gap: 60px;
}

.infoTextBL {
   position: absolute;
   bottom: -20px;
}

/* ============ PAGE LAYOUT ============ */

.grid {
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   grid-auto-rows: 9vw;
   column-gap: 8px;
   row-gap: 8px;
}

.outerMargin {
   grid-area: 1/1 / span 1 / span 1;
   margin: 8px;
}

.textCell {
   position: relative;
   /* background-color: rgb(199, 165, 165); */
}

#sketch-holder {
   display:block;
   position: fixed;
   top: 0vw;
   left: 0vw;
   z-index: -1;
}

.page_title {
   /* position: fixed; */
   width: 85vw;
   top: 30000vh;
   margin-left: 0px;
   padding-right: 0px;
   /* background-color: aqua; */
}

.project_title {
   position: fixed;
   width: 85vw;
   top: 2vh;
   margin-left: 0px;
   padding-right: 0px;
   /* background-color: aqua; */
}

.project_description {
   grid-area: 2/1 / span 2 / span 3;
   /* background-color: red; */
}

/* ============ PAGE ELEMENTS ============ */

body {
   margin: 0vh;
   display: grid;
   grid-template-columns: auto 50px;
   grid-template-rows: 100vh;
   height: 99.4vh;

   padding: 0px;
}

#sideBar {
   position: fixed;
   top: 0;
   right: 0;


   width: 50px;
   height: 130vh;

   background-color: white;
}

#sideBar:hover {
   width: 260px;

   /* overflow: hidden; */
}

.menu {
   display: flex;
   flex-direction: row;

   position: relative;
   left: 0;
   bottom: 0;

   overflow: hidden;
}

.menuColumn {
   margin-left: 17px;
   margin-right: 27px;
}

#sideBar:hover .menuColumn {
   color: white;
   margin-left: 0;
   margin-right: 17px;
}

.menuOptions {
   /* color: white; */
   margin-top: 15px;
}

iframe {
   width: 100%;
   height: 100%;
}

img {
   max-width:100%;
   max-height:100%;
}

.imgFill {
   width: 100%;
   height: 100%;

   object-fit: fill;
}

/* ============ MISC ============ */

canvas {
   display:block;
   z-index: -1;
}

a {
   text-decoration: none;
   color: inherit;
}

/* underline thickness for hyperlinks */

::-webkit-scrollbar {
   background-color: rgb(0, 0, 0);
}

/* custom scroll bar */

::-webkit-scrollbar-thumb {
   background-color: rgb(86, 86, 86);
}

::-webkit-scrollbar-thumb:hover {
   background-color: rgb(140, 140, 140);
}

/* custom cursor */

/* code modified from Geeks For Geeks*/
/* https://www.geeksforgeeks.org/javascript/how-to-create-custom-cursor-using-css */

/* * {
   cursor: none;
} */

/* .custom-cursor {
   position: absolute;
   z-index: 99;
   top: 0;
   left: 0;

   width: 12px;
   height: 12px;

   border: 1px solid black;
   border-radius: 50%;
   background-color: white;

   pointer-events: none;
} */

/* for mobile screens */

@media only screen and (max-width: 700px) {
   
   .grid {
      display: grid;
      grid-template-columns: 100%;
   }

   .project_description {
      grid-area: 4/1 / span 2 / span 3;
   }
 }
