
#sub_title {
    margin-top: 7px;
    margin-left: 499px; 
    font-size: 22px;
    line-height: 30px;
}

#title_box {
    grid-area: 2/1 / span 1 / span 3; 
    margin-left: 20px;
}

@media screen and (max-width:1037px) { 

    #sub_title {
        margin-left: 206px;
    }

}


@media screen and (max-width:760px) {
    
    h1 {
      font-size: 18vw;
      line-height: 14vw;
      margin-left: 0vw;
    }

    #title_box {
        margin-left: 0px;
    }

    #sub_title {
        direction: rtl;
        font-size: 12pt;
        margin-left: 0.6vw; 
        margin-right: 7vw;
    }
   
}