
h1 {
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
    margin-bottom: -3px;
}

#sub_title {

    direction: rtl;
    margin-top: 8px;
    max-width: 948px;
    font-size: 22px;
    line-height: 38px; 
}

#title_box {
    grid-area: 2/1 / span 1 / span 3;
    margin-left: 1vw;
}

@media screen and (max-width:1054px) {

    #sub_title {
        margin-top: 20px;
        max-width: 658px;
    }

}

@media screen and (max-width:700px) {

    #title_box {
        margin-left: 0px;
        grid-area: 4/1 / span 1 / span 1;
    }

    h1 {
      font-size: 21.6vw;
      line-height: 20vw;
      margin-left: 0vw;
    }

    #sub_title {
        font-size: 14pt;
        margin-right: 1.8vw;
    }

}