
#title {
    margin-top: 10vh;
    margin-left: 1vw;
}

#textCell {
    max-width: 500px;
    margin-left: 1vw;
}

/* tablets */

@media screen and (max-width: 1000px) {

}

/* mobile */

@media screen and (max-width: 700px) {

    h1 {
      font-size: 20vw;
      line-height: 18vw;
    }

    #textCell {
        width: 100%;
    }

}