/* position images */

#image_1 {
    grid-area: 4/1 / span 4 / span 2; 
}

#image_2 {
    grid-area: 4/3 / span 4 / span 1; 
}

#image_3 {
    grid-area: 8/2 / span 5 / span 2; 
}

#image_4 {
    grid-area: 9/1 / span 4 / span 1; 
    direction: rtl;
}

#image_5 {
    grid-area: 13/2 / span 4 / span 2; 
    direction: rtl;
}

#image_6 {
    grid-area: 13/1 / span 5 / span 2; 
}

#image_7 {
    grid-area: 17/2 / span 6 / span 2; 
    direction: rtl;
}

#image_8 {
    grid-area: 18/1 / span 4 / span 2; 
}

@media screen and (max-width: 700px) {

    #STS_description {
        grid-area: 6/1 / span 2 / span 1;
    }

    #image_1 {
        grid-area: 19/1 / span 6 / span 1; 
        direction: rtl;
    }

    #image_2 {
        grid-area: 25/1 / span 11 / span 1; 
    }

    #image_3 {
        grid-area: 36/1 / span 6 / span 1; 
        direction: rtl;
    }

    #image_4 {
        grid-area: 42/1 / span 7 / span 1; 
    }

    #image_5 {
        grid-area: 49/1 / span 6 / span 1; 
    }

    #image_7 {
        grid-area: 55/1 / span 11 / span 1; 
        direction: ltr;
    }

    #image_8 {
        grid-area: 66/1 / span 6 / span 1; 
        direction: rtl;
    }

    #image_6 {
        grid-area: 72/1 / span 11 / span 1; 
    }

    

}