/* ============ TEXT STYLES ============ */

@font-face {
    font-family: 'bocca';
    src: url(Bocca.otf);
}

@font-face {
    font-family: 'officeCodePro';
    src: url(../assets/OfficeCodePro-Regular.otf);
}

h1 {
    font-family: 'bocca';
    font-weight: normal;
    /* font-size: 25em; */

    color: bisque;

    margin-top: 0;
    margin-bottom: 0px;
}

h2 {
    font-family: 'bocca';
    font-weight: normal;
    font-size: 10em;

    color: bisque;

    line-height: 120px;
}

h3 {
    /* for grid letters */
    font-family: 'bocca';
    font-weight: normal;
    font-size: 150px;

    color: bisque;

    padding: 0%;
    margin: 0%;

    letter-spacing: 0.16em;
    line-height: 0.84em;
}

.accent {
    line-height: 1em;
}

.p1 {
    font-family: 'officeCodePro';
    font-size: 25px; 
    
    color: bisque;
}

.p2 {
    font-family: 'officeCodePro';
    font-size: 1.2em; 

    color: bisque;
}

a {
    text-decoration: none;
    color: inherit;
}

a :hover {
    color:rgb(235, 210, 30) ;
    cursor: pointer;
}

.fit {
    white-space: nowarp;
    display: inline;
}

/* ============ Layout ============ */

.html, body {
    margin: 0px;
}

/* #sketch-holder {
    display:block;
    position: fixed;
    top: 0vw;
    left: 0vw;
    z-index: -1;
} */

canvas {
    position: absolute;
    /* top: 0%; */
    left: 0%;
}

.full_screen {
    position: relative;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.main_display {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    /* background-color: rgb(160, 160, 160); */
}

.content_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    align-content: flex-start;

    /* background-color: brown; */
}

.grid_letters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: flex-start;

    /* background-color: blueviolet;
    border: 2px solid #00ff11; */
}

/* ============ MISC ============ */

.cell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
}