/* position images */

#image_1 {
    grid-area: 4/1 / span 4 / span 2; 
}

#image_2 {
    grid-area: 5/3 / span 2 / span 1; 
}

#image_3 {
    grid-area: 8/2 / span 3 / span 2; 
    direction: rtl;
}

#image_4 {
    grid-area: 8/1 / span 2 / span 1; 
    direction: rtl;
}

#image_5 {
    grid-area: 11/1 / span 4 / span 2; 
}

#image_6 {
    grid-area: 11/3 / span 2 / span 1;
}

@media screen and (max-width: 700px) {

    #image_1 {
        grid-area: 15/1 / span 5 / span 1; 
    }

    #image_2 {
        grid-area: 20/1 / span 5 / span 1; 
    }

    #image_3 {
        grid-area: 25/1 / span 5 / span 1; 
    }

    #image_4 {
        grid-area: 30/1 / span 5 / span 1; 
    }

    #image_5 {
        grid-area: 35/1 / span 5 / span 1; 
    }

    #image_6 {
        grid-area: 40/1 / span 5 / span 1;
    }

}